.frame {
  width: 25.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plusIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.54rem;
  height: 3.54rem;
  overflow: hidden;
}
.publish {
  position: relative;
  line-height: 1.25rem;
  font-weight: 200;
  margin-top: -1.94rem;
}
.filledIn,
.photogrammetryParent {
  position: absolute;
  display: flex;
  align-items: center;
}
.photogrammetryParent {
  top: 0.38rem;
  left: 35.81rem;
  width: 6.25rem;
  height: 2.63rem;
  flex-direction: column;
  justify-content: flex-end;
}
.filledIn {
  top: 1.19rem;
  left: 29.63rem;
  font-size: var(--b-114-20r-size);
  line-height: 0.75rem;
  font-weight: 300;
  color: var(--primary-white);
  justify-content: center;
  width: 5.19rem;
  height: 1.19rem;
}
.frame1 {
  position: relative;
  width: 42.06rem;
  height: 3.54rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -80.94rem;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--b-114-20r);
}
