.smallRankIconsChild {
  position: relative;
  width: 19px;
  height: 19px;
}
.smallRankIcons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
